.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db

# Python
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Airflow
logs/
plugins/
unittest.cfg

# Virtual Environments
env/
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Jupyter Notebook
.ipynb_checkpoints

# Misc
*.log
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
Screenshot 2025-07-03 at 17.29.21.png
